.main-card {
  cursor: pointer;
  margin: 10px 0;
}
.ride-card {
  background-color: #f67280;
  align-items: center;
  color: white;
  padding: 30px 0px;
}
.ride-card img {
  max-width: 200px;
  object-fit: contain;
  max-height: 70px;
}
.ride-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}
